@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body.layout-body {
    @apply font-sans text-bramel-dark antialiased flex flex-col min-h-screen;
  }

  .layout-main {
    flex: 1 0 auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal;
  }

  a {
    @apply text-bramel-orange no-underline;
  }

  a:hover {
    @apply underline;
  }
}
